<!-- Provided by templates/footer.twig -->
{% embed '@layouts/regions/footer/footer.twig' %}
	{% block footer_first %}
		{% include '@components/site-name/site-name.twig' with
			{
				modifier_classes: 'l-footer__site-name',
				site_name: site.name,
				url: "/"
			}
		%}
		{% include '@components/content-embed/content-embed.twig' with
		    {
				modifier_classes: "",
				content: '<p class="l-footer__adddress">980 Park Avenue (at 84th Street)<br>New York, NY 10028<br>212 288-3588</p>'
			}
		%}
		{% include '@components/copyright/copyright.twig' with
		    {
				year: {
					long: current_year
				},
				site_name: site.name
			}
		%}
	{% endblock %}
	{% block footer_second %}
		{% include '@components/social-media/social-media.twig' with
		    {
				url: "https://www.facebook.com/churchofstignatiusloyolanyc/",
				title: "St. Ignatius on Facebook",
				text: "Join Us on Social Media"
			}
		%}
	{% endblock %}
{% endembed %}
