{% extends "base.twig" %}

{% block content %}
  <!-- Provided by templates/front-page.twig -->
  {% embed '@layouts/regions/content/content.twig' %}
    {% block content %}
      {% include '@components/welcome-panel/welcome-panel.twig' with
        {
          title: 'Welcome to the Church of St. Ignatius Loyola',
          content: post.content
        }
      %}

      <div class="l-section l-section--featured-news">
        <div class="l-constrain">
          <h2 class="l-section__title centered">Featured News &amp; Events</h2>
          <div class="l-section__content">
            <div class="l-grid l-grid--3col">
              {% for post in posts %}
                {% include "@components/card/card.twig" with {
                  url: post.link,
                  title: post.title,
                  media: post.thumbnail,
                  content: post.teaser
                  }
                %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div class="l-section l-section--news">
        <div class="l-constrain">
          <div class="l-section__content">
            <div class="l-grid">
              {% for item in news %}
                {% include "@components/teaser/teaser--news/teaser--news.twig" with {
                  url: item.link,
                  title: item.title,
                  content: item.teaser
                  }
                %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      {% embed '@layouts/front/front.twig' with {
          modifier_classes: 'l-grid--2col'
        }
      %}
        {% block front_first %}
          <section class="l-section l-section--events">
            <h2 class="l-section__title">Upcoming Events</h2>
            <div class="l-section__content l-columns--2">
              {% filter shortcodes %}
                [events_list limit="8" category="{{- post.category -}}"]
                <div class="teaser teaser--event"><div class="teaser--event__first"><div class="calendar-date"><div class="calendar-date__month">#M</div><div class="calendar-date__day">#j</div></div></div><div class="teaser--event__second">#_EVENTLINK<br><span class="teaser--event__text"><strong>#_EVENTTIMES</strong><br>#_EVENTEXCERPT{15,...}</span></div></div>[/events_list]
              {% endfilter %}
            </div>
            <a class="more-link" href="/events">Visit Calendar ></a>
          </section>
        {% endblock %}
        {% block front_second %}
          <section class="l-section l-section--mass-schedule">
            <h2 class="l-section__title">Mass Schedule</h2>
            <div class="l-section__content">
              {% include "@components/mass-schedule/mass-schedule.twig" with {
                content: post.mass_schedule
                }
              %}
            </div>
          </section>
        {% endblock %}
      {% endembed %}

    {% endblock %}
  {% endembed %}
{% endblock %}
