// @file
// Styles for Cards.

.card {
  display: flex;
  flex-direction: column;
}

.card__body {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0;
}

.card__header {
  border-bottom: 1px solid $color-blue;
  margin: 0 0 .75rem;
}

.card__title {
  font-family: $base-font-family;
  font-size: em(22px);
  font-style: italic;
  font-weight: 500;
  line-height: 1.4;
  margin: 0 0 .75rem;
  text-transform: none;
}

.card__content {
  font-size: em(16px);
  line-height: 1.6;
  margin-bottom: .75rem;

  p:last-of-type {
    margin: 0;
  }
}

.card__footer a {
  color: $color-red;
  font-size: em(14px);
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.card__media {
  order: -1;
}

.card__media-image {
  @include aspect-ratio(16, 7);
  background-position: 50% 25%;
  background-size: cover;
}