<div class="hero-bg-image" style="background-image:url({{ image }});">
  <div class="hero-bg-image__content">
    <a class="site-name" href="{{ url }}" title="{{ 'Home' }}" rel="home">
      <title class="site-name__text">{{ site_name }}</title>
    </a>
  </div>
</div>
