// @file
// Styles for Section Layout.

.l-section {
  margin: 4em 0;

  .l-front &,
  .l-grid & {
    @include breakpoint($bp-medium) {
      margin: 0;
    }
  }


  .l-section__title {
    border-bottom: 2px solid $color-blue;
    font-size: em(48px);
    font-style: italic;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 2rem;
    padding-bottom: .5rem;
    text-transform: none;

    &.centered {
      text-align: center;
    }

    .l-grid & {
      font-size: em(24px);
      font-style: normal;
      font-weight: 600;
      text-transform: uppercase;
    }

    .l-front & {
      font-size: em(24px);
      font-style: normal;
      font-weight: 600;
      margin: 0 0 1.5rem;
      text-transform: uppercase;
    }
  }
}

.l-section--news {
  .l-section__content {
    @include breakpoint($bp-medium) {
      padding: 0 7.5%;
    }

    @include breakpoint($bp-large) {
      padding: 0 10%;
    }
  }
}