// @file
// Styles for front page welcome-panel.

.welcome-panel {
  align-items: center;
  background-color: $color-gray-light;
  border-top: 6px solid $color-orange;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  margin: 0 0 2rem;
  padding: 1.5rem;

  @include breakpoint($bp-hide-mobile-menu) {
    margin: 0 0 4rem;
    padding: 1.5rem 6rem;
  }
}

.welcome-panel__title {
  color: $color-black;
  font-size: em(30px);
  font-style: italic;
  font-weight: 600;
  margin: 0 0 1rem;
  text-transform: none;
}

.welcome-panel__content {
  max-width: 100%;
  text-align: left;

  @include breakpoint($bp-hide-mobile-menu) {
    text-align: center;
  }

  p {
    font-family: 'Cormorant', serif;
    font-size: em(22px);
    line-height: 1.5;
  }

  p:last-of-type {
    margin: 0;
  }

  .read-more {
    font-family: 'Lato', sans-serif;
    font-size: em(14px);
    font-weight: 500;
    margin-left: 5px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}