// @file
// Styles WYSIWYG right alignment.

.alignright {
  max-width: 100%;
}

.alignright {
  float: none;
  margin: 0 0 0.5em;
}

@include breakpoint(768px) {
  .alignright {
    float: right;
    margin: .75em 0 1em 1em;
  }
}
