// @file
// Styles WYSIWYG left alignment.

.alignleft {
  max-width: 100%;
}

.alignleft {
  float: none;
  margin: 0 0 0.5em;
}

@include breakpoint(768px) {
  .alignleft {
    float: left;
    margin: .75em 1em 1em 0;
  }
}
