// @file
// Heading styles.

%hN {
  @extend %header-font-family;
  color: inherit;
  font-weight: 700;
  hyphens: none;
  margin: 0 0 rem($vertical-spacing);
  text-rendering: optimizeLegibility;

  @media print {
    & {
      orphans: 3;
      page-break-after: avoid;
      widows: 3;

      &::after {
        display: inline-block;
      }
    }
  }

  // Add top margin when headers are preceded by other elements (p, ul, etc.)
  * + & {
    margin-top: 1em;
  }
}

h1,
%h1 {
  @extend %hN;
  font-size: em($font-size-h1);
  line-height: 1.125;
  margin: 0.32em 0 0.5em;
}

h2,
%h2 {
  @extend %hN;
  font-size: em($font-size-h2);
  line-height: 1.25;
  margin: 0.9em 0 0.6em;
}

h3,
%h3 {
  @extend %hN;
  font-size: em($font-size-h3);
  font-weight: 600;
  line-height: 1.25;
  margin: 0.618em 0 1.236em;
}

h4,
%h4 {
  @extend %hN;
  font-size: em($font-size-h4);
  font-weight: 300;
  line-height: 1.22222222;
  margin: 1.83333333em 0 0.61111111em;
}

h5,
%h5 {
  @extend %hN;
  font-size: em($font-size-h5);
  letter-spacing: 0.1em;
  line-height: 1.5;
  margin: 0 0 1.3em;
  text-transform: uppercase;
}

h6,
%h6 {
  @extend %hN;
  font-size: em($font-size-h6);
  line-height: 1.22222222;
  margin: 0.618em 0 1.236em;
}

h1, h2, h3, h4, h5, h6 {
  // Remove top margin for adjacent subheadings.
  & + & {
    margin-top: 0;
  }
}