// @file
// Styles for the main menu.

.menu--utility {
  display: none;

  @include breakpoint($bp-small) {
    display: inline-block;
    @include list-clean;
  }

  .menu__item {
    display: inline-block;
    font-size: 14px;
    height: 46px;
    padding: 0;

    &:last-of-type {
      .menu__link {
        margin-right: 0;
      }
    }
  }

  .menu__link {
    align-items: center;
    color: $color-white;
    display: flex;
    height: 100%;
    margin: 0 5px;
    padding: 0px;
    position: relative;
    text-decoration: none;
    transition: all 0.1s ease;

    @include breakpoint($bp-large) {
      margin: 0 10px;
    }

    &:focus {
      outline-color: $color-white;
    }

    &:hover,
    &.is-active,
    &.is-active-trail {
      color: $color-white;
      text-decoration: underline;
    }
  }
}