<article class="teaser teaser--news" role="article">
  <h2 class="teaser--news__title"><a href="{{ url }}">{{ title }}</a></h2>
  <div class="teaser--news__content">
    {{ content|raw }}
    <a class="teaser--news__read-more" href="{{ url }}">Learn More ></a>
  </div>
</article>