<footer class="l-footer" role="contentinfo">
  <div class="l-constrain">
    <div class="l-footer__wrapper">
      <div class="l-footer__first">
        {% block footer_first %}
          {{ footer_first_content|raw }}
        {% endblock %}
      </div>
      <div class="l-footer__second">
        {% block footer_second %}
          {{ footer_second_content|raw }}
        {% endblock %}
      </div>
    </div>
  </div>
</footer>