// @file
// Styles for Utility Layout.

.l-utility {
    display: none;

    @include breakpoint($bp-small) {
        align-items: center;
        background: linear-gradient(to bottom, $color-orange 0%, $color-orange-dark 100%);
        color: $color-white;
        display: flex;
        height: 46px;
        justify-content: space-between;
        padding: 0 1em;
        @include text-shadow();
    }
}
