// @file
// Styles for hero using an inline image element.

.hero-inline-image {
  color: #fff;
  padding: 0;
  position: relative;
  text-align: center;

  @include breakpoint($bp-large) {
    min-height: 316px;
  }

  .hero-inline-image__content {
    z-index: 2;
  }
}

.hero-inline-image__picture {
  display: block;
  line-height: 0;
}

.hero-inline-image__content {
  display: none;

  @include breakpoint($bp-hide-mobile-menu) {
    background: rgba(0, 0, 0, 0.5);
    display: block;
    height: 140px;
    padding: 3rem 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
  }
}
